.hero {
  position: relative;
  height: 90vh;
  min-height: 600px;
  background: 
    radial-gradient(circle at 20% 30%, rgba(2, 2, 196, 0.699), transparent 40%),
    radial-gradient(circle at 70% 60%, rgba(2, 2, 131, 0.7), transparent 50%),
    linear-gradient(135deg, #000000, #001144);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  animation: bgMove 15s ease-in-out infinite;
  display: flex;
  align-items: center;
  color: white;
}

@keyframes bgMove {
  0%, 100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}

.hero-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.26);
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
  max-width: 800px;
}

h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  margin-bottom: 30px;
}

.hero-btn {
 
  width: 160px;
  height: 48px;
  border-radius: 480px !important;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  background: #e0e0e0 !important;
  color: #000 !important;
  box-shadow:
    6px 6px 12px #c5c5c507,
   -6px -6px 12px #ffffff2f;
}

.hero-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 0;
  height: 100%;
  border-radius: 480px;
  background: linear-gradient(to right, #284cec 0%, #47f9ea 100%);
  transition: width 0.5s ease;
  z-index: 0;
}

.hero-btn:hover::before {
  width: 100%;
}


.hero-btn .mdc-button__label {
  position: relative;
  z-index: 1;
}





