<mat-drawer-container class="example-container" [hasBackdrop]="true">
  
  <mat-drawer #drawer mode="over" position="end" class="chat-drawer">
    <h2>Kapcsolatok</h2>
    <br>
    <mat-list>
      @if (contacts.length === 0) {
        <p>Nincs elérhető kapcsolatod.</p>
      }
      <mat-list-item *ngFor="let contact of contacts" (click)="openChat(contact)" class="contact-item">
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>{{ contact.name }}</div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <button class="toggle-button" mat-fab color="primary" (click)="drawer.toggle()">
      <mat-icon>chat</mat-icon>
    </button>
  </mat-drawer-content>

</mat-drawer-container>