
.example-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 13;
  background: transparent; 
  pointer-events: none;    
}

mat-drawer {
  pointer-events: auto;    
  z-index: 10;
  width: 30rem;
  max-width: 80%;
}

mat-drawer-content {
  background: transparent !important;
  overflow: visible !important;
  z-index: 12;
}

#toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  pointer-events: auto;   
  z-index: 12;
}
.chat-drawer {
  text-align: center;
}
mat-list-item {
  justify-content: center;
  background-color: rgb(219, 238, 255);
  border-radius: 20px;
  width: 80%;
  margin: auto;
  margin-top: 0.5rem;
}