<app-navbar></app-navbar>
<section class="page-content">
  <div class="container">
    <h1>Általános Szerződési Feltételek (Szabályzat)</h1>

    <h2>1. Bevezető</h2>
    <p>
        A HandyGo platformot a HandyGo Kft. tartja üzemben. A szolgáltatás használatával elfogadod az alábbi feltételeket. 
        Ha nem értesz egyet velük, kérjük, ne használja az oldalt.
    </p>

    <h2>2. A szolgáltatás célja</h2>
    <p>
        A HandyGo egy közvetítő platform, amely összeköti az ügyfeleket (megrendelőket) megbízható szakemberekkel 
        otthoni szolgáltatások (pl. vízvezeték-szerelés, takarítás, festés, kertészkedés) elvégzésére. 
        <strong>Mi nem vállalunk közvetlen felelősséget</strong> a munkák minőségéért, azt a szakember vállalja minden esetben.
    </p>

    <h2>3. Regisztráció és használat</h2>
    <p>
        A szolgáltatás használatához regisztráció szükséges. A regisztrációval vállalod, hogy valós adatokat adsz meg. 
    </p>

    <h2>4. Megrendelés menete</h2>
    <p>
        Az ügyfél kiválasztja a szükséges szolgáltatást és megadja a részleteket, majd a platform javaslatot tesz 
        elérhető szakemberekre. A szerződés közvetlenül az ügyfél és a szakember között jön létre, 
        a HandyGo csak a kapcsolatteremtést segíti.
    </p>

    <h2>5. Fizetés</h2>
    <p>
        A fizetés minden esetben közvetlenül a weboldalon keresztül történik a munka elvégzése után. 
        Amelyet a szakember határoz meg. A HandyGo jutalékot számít fel a szolgáltatás közvetítéséért.
        És számlát állít ki a szakember nevében.
    </p>

    <h2>6. Értékelések és visszajelzések</h2>
    <p>
        A szolgáltatás után Az ügyfél értékelheti szakembert. 
        Az értékelések nyilvánosak, és segítenek a közösségnek a megbízható partnerek kiválasztásában.
    </p>

    <h2>7. Adatvédelem</h2>
    <p>
        Az adataidat bizalmasan kezeljük, kizárólag a szolgáltatás nyújtásához használjuk fel. 
        További információkért tekintsd meg az <a [routerLink]="['/rights']">Adatvédelmi tájékoztatónkat</a>.
    </p>

    <h2>8. Felelősségkorlátozás</h2>
    <p>
        A HandyGo mindent megtesz a megbízható szakemberek ajánlásáért, de nem vállal garanciát a munka minőségére 
        vagy bármilyen kárért, ami a szolgáltatás során keletkezik. Az ügyfél és a szakember közötti vitákat a felek közösen próbálják rendezni,
        szükség esetén mediáció vagy jogi eljárás útján.
    </p>

    <h2>9. Módosítások</h2>
    <p>
        Fenntartjuk a jogot, hogy bármikor módosítsuk ezeket a feltételeket. 
        A változásokról emailben vagy az oldalon értesítjük a felhasználókat.
    </p>

    <h2>10. Kapcsolat</h2>
    <p>
        Ha kérdésed van a szabályzattal kapcsolatban, írj nekünk: <a [routerLink]="['/contact']"><strong>info&#64;handygo.hu</strong></a>
    </p>

    <div class="back-button-container">
      <button mat-stroked-button color="primary" [routerLink]="['/']" class="back-to-home-btn">
            Vissza a főoldalra
      </button>
    </div>
  </div>
</section>
<app-footer></app-footer>
