
.get-started .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.get-started-btn {
  width: 160px;      
  height: 48px;     
  border-radius: 480px !important; 
  font-size: 15px;      
  position: relative;
  overflow: hidden;
  background: #e0e0e0 !important;
  color: #000 !important;
  box-shadow:
    6px 6px 12px #c5c5c5,
   -6px -6px 12px #ffffff;
  margin: auto;
  align-items: center; 
}

.get-started-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 0;
  height: 100%;
  border-radius: 480px; 
  background: linear-gradient(to right, #284cec 0%, #47f9ea 100%);
  transition: width 0.5s ease;
  z-index: 0;
}

.get-started-btn:hover::before {
  width: 100%;
}

.get-started-btn .mdc-button__label {
  position: relative;
  z-index: 1;
}

