
.get-started {
  background: #f5f9ff;
  display: flex;
  align-items: center;
  position: relative;
}

.get-started-btn {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  all: unset;
  width: 120px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto;
}

.get-started-btn::before,
.get-started-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all .4s;
}

.get-started-btn::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #333;
  border-radius: 10px;
}

.get-started-btn::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff33;
  border-radius: 50px;
  opacity: 0;
}

.get-started-btn:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.get-started-btn:hover::after {
  opacity: 1;
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.get-started-btn:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.get-started-btn.mat-raised-button {
  box-shadow: none !important;
}
