<section class="our-services">
  <div class="container text-center">
    <h2>Péda munkák</h2>
    <div class="services-grid">
      <mat-card>
        
        <mat-card-content>
          <mat-icon>face</mat-icon>
          <h4>Festéső</h4>
          <p></p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <mat-icon>face</mat-icon>
          <h4>Bébicsősz</h4>
          <p></p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <mat-icon>face</mat-icon>
          <h4>Takarításó</h4>
          <p></p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <mat-icon>face</mat-icon>
          <h4>Kertész</h4>
          <p></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
