<section class="our-services">
  <div class="container text-center">
    <h2>Péda munkák</h2>
    <div class="services-grid">
      <mat-card>
        <mat-card-content>
          <mat-icon>face</mat-icon>
          <h4>Festés / Lakásfelújítás</h4>
          <p>Belső és külső falak festése, tapétázás, mázolás.</p> <!-- Módósítás: Adatbázisból származó szolgáltatások  lekérése  -->
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <mat-icon>face</mat-icon>
          <h4>Bébicsősz/Gyermekfelügyelet</h4>
          <p>Gyermekfelügyelet, játék, mesemondás, házi feladatban segítség.</p> <!-- Módósítás: Adatbázisból származó szolgáltatások  lekérése  -->
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <mat-icon>face</mat-icon>
          <h4>Takarító</h4>
          <p>Lakások, irodák takarítása, ablaktisztítás, rendrakás.</p> <!-- Módósítás: Adatbázisból származó szolgáltatások  lekérése  -->
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <mat-icon>face</mat-icon>
          <h4>Kertész</h4>
          <p>Fűnyírás, sövénynyírás, metszés, kerti karbantartás.</p> <!-- Módósítás: Adatbázisból származó szolgáltatások  lekérése  -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
