.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  margin-top: 40px;
  position: relative;
  align-items: center;
}

mat-icon{
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: #0c4e91;
  margin-bottom: 15px;
  margin:auto
}


mat-card{
  height: 100%;
  background: #c5c5c5;
  
}

