.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  margin-top: 40px;
  position: relative;
  align-items: center;
}

mat-icon{
  align-items: center;
}

