<footer class="footer">
  <div class="container footer-content">
    <ul class="footer-links">
      <a [routerLink]="['/about']"><li >Rólunk</li></a>
      <a [routerLink]="['/contact']"><li>Kontakt</li></a>
      <a [routerLink]="['/terms']"><li>Szabályzat</li></a>
      <a [routerLink]="['/rights']"><li>Felhasználói jogok</li></a>
    </ul>
    <div class="footer-icons">
      <mat-icon> phone</mat-icon>
      <mat-icon>mail</mat-icon>
      <mat-icon>public</mat-icon>
     </div>
    <p>© 2025 HandyGo. Minden jog fenntartva.</p>
  </div>
</footer>
