.page-content{
  background-color: #66656507;
}


.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 40px 0;
  align-items: start;
  
}

.contact-info h2,
.contact-form h2 {
  color: #1976d2;
  margin-bottom: 20px;
}

.contact-info p {
  margin: 12px 0;
  font-size: 17px;
}

.social-links {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.social-links a {
  color: #666;
  font-size: 28px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #1976d2;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;

}

.form-actions {
  text-align: right;
}

.submit-btn {
  padding: 10px 40px;
  border-radius: 25px;
  font-size: 16px;
}

.back-button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.back-to-home-btn {
  padding: 14px 40px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 17px;
  min-width: 220px;
  border-color: #1976d2;
  color: #1976d2;
  transition: all 0.3s ease;
}

.back-to-home-btn:hover {
  background-color: #1976d2;
  color: white;
}


@media (max-width: 992px) {
  .contact-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 600px) {
  .contact-grid {
    gap: 30px;
  }

  .social-links {
    justify-content: center;
  }

  .form-actions {
    text-align: center;
  }

  .submit-btn {
    width: 100%;
    padding: 14px;
  }
}