

.subtitle { font-size: 18px; color: #555; margin: 20px 0 50px; }


.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

mat-card {
  width: 320px;
  text-align: center;
  padding: 30px 20px;
  background-color: #c5c5c5;
}

mat-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: #0c4e91;
  margin-bottom: 15px;
  margin:auto
}