<app-navbar style="position: fixed; top: 0; left: 0; right: 0; z-index: 1000;"></app-navbar>
<div class="main">
    <button
    mat-fab
    class="filter-toggle"
    (click)="filterOpen = !filterOpen">
    <mat-icon aria-hidden="false" aria-label="Szűrő" fontIcon="filter_alt"></mat-icon>
    </button>

    <div class="filter-section" [class.open]="filterOpen">
        <mat-form-field>
            <mat-label>Kategóriák</mat-label>
            <mat-select placeholder="Válassz kategóriát" [(ngModel)]="selectedCategory">
                <mat-option
                *ngFor="let category of categories"
                [value]="category"
                (click)="onCategorySelect(category)"
                >
                    {{ category }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Távolság (Km)</mat-label>
            <input matInput type="number" [(ngModel)]="distance">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Ár Minimum (Ft)</mat-label>
            <input matInput type="number" [(ngModel)]="priceRange[0]">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Ár Maximum (Ft)</mat-label>
            <input matInput type="number" [(ngModel)]="priceRange[1]">
        </mat-form-field>
        <br>
        <div class="filter-buttons">
            <button mat-raised-button (click)="ngOnInit()" class="filter-button">Szűrés</button>
            <button mat-raised-button (click)="resetFilters()" class="filter-button">Visszaállítás</button>
        </div>
    </div>
    <div class="card-section">
        <mat-card *ngFor="let item of services" class="service-card" (click)="onServiceSelect(item.id)" style="cursor: pointer;">
            <mat-card-title>{{item.category}}</mat-card-title>
            <mat-card-content>
                <p>{{item.description}}</p>
                <p>{{item.price}}</p>
            </mat-card-content>
        </mat-card>
    </div>

</div>