.main{
    display: grid;
    grid-template-columns: 20% 80%;
    
}

.filter-section{
    grid-column: 1;
    width: 20%;
    background-color: greenyellow;
    height: 100vh;
    position: fixed;
}

.card-section{
    grid-column: 2;
    height: 100vh;
    background-color: lightblue;
}
@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
    }

    .filter-section {
        position: relative;
        width: 100%;
        height: auto;
    }

    .card-section {
        grid-column: 1;
    }
}