<h2 mat-dialog-title>{{otherUserName}}</h2>
<button mat-icon-button mat-dialog-close class="close-button">
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content class="mat-typography" #scrollContainer>
  <div class="content" >
    @if (messages.length == 0) {
      <p>nincsenek üzenetek még</p>
    }
    @for (message of messages; track $index) {
      <p class="{{message.from == otherUserId ? 'his-message' : 'my-message'}}">{{message.message}}</p>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <mat-form-field class="message-input" appearance="fill">
    <mat-label>küldj üzenetet</mat-label>
    <input matInput [(ngModel)]="newMessage" (keydown.enter)="sendMessage(newMessage)"/>
  </mat-form-field>
  <button mat-raised-button (click)="sendMessage(newMessage)" id="send-button">Send</button>
</mat-dialog-actions>