.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  z-index: 1999 !important;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.his-message {
    background-color: #e5e5ea;
    color: black;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    max-width: fit-content;
    align-self: flex-start;
    text-align: left;
}
.my-message {
    background-color: #0b93f6;
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin-right: 2px;
    margin: 5px;
    float: right;
    max-width: fit-content;
    align-self: flex-end;
    text-align: right;
}
.content{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}