<app-navbar></app-navbar>
<section class="page-content">
  <div class="container">
        <h1>Rólunk</h1>
        <div>
            <h5>Kik vagyunk?</h5>
            <p>A HandyGo egy dinamikusan fejlődő otthoni szolgáltatásokat nyújtó vállalkozás, amelyet azzal a céllal hoztunk létre, hogy megkönnyítsük ügyfeleink életét a minőségi, gyors és megbízható szakemberközvetítéssel. Számunkra az ügyfél elégedettség nem csak cél, hanem alapérték, amely minden tevékenységünket vezérli.</p>
        </div>
        <div>
            <h5>Történetünk</h5>
            <p>A HandyGo 2025-ban indult, kis csapattal és nagy ambíciókkal. Azóta folyamatosan bővülő szolgáltatásainkkal váltunk a magyar otthoni szolgáltatások egyik meghatározó szereplőjévé. Évről évre növekvő ügyfélkörünk bizonyítja, hogy a minőség és a megbízhatóság mindennél fontosabb számunkra.</p>
        </div>
        <div>
            <h5>Csapatunk</h5>
            <p>Csapatunk magasan képzett szakemberekből áll, akik nemcsak szakmai tudásukkal, hanem elhivatottságukkal is hozzájárulnak ügyfeleink elégedettségéhez. Minden szakember szigorú minőségellenőrzési folyamaton esik át, így Ön biztos lehet benne, hogy a legjobb kezekbe kerül otthona.</p>
        </div>
        <div>
            <h5>Küldetésünk és víziónk</h5>
            <p>Küldetésünk, hogy megkönnyítsük ügyfeleink mindennapjait egy átlátható, gyors és megbízható szakemberközvetítő platform segítségével. Céunk egy olyan szolgáltatás létrehozása, amely nemcsak az otthoni javítások piacán, hanem a szolgáltatás minőségében is példát mutat. Elkötelezettek vagyunk a folyamatos fejlődés mellett, hogy mindig megfeleljünk a modern igényeknek.</p>
        </div>
        <div>
            <h5>Partner cégeink</h5>
            <p>Dózsa Csárda</p>
        </div>
    </div>
    <div class="back-button-container">
        <button mat-stroked-button color="primary" [routerLink]="['/']" class="back-to-home-btn">
            Vissza a főoldalra
        </button>
    </div>
</section>
<app-footer></app-footer>
