<app-navbar></app-navbar>
<section class="page-content">
  <div class="container">
        <h1>Rólunk</h1>
        <div>
            <h5>Kik vagyunk?</h5>
            <p>A HandyGo egy dinamikusan fejlődő  szolgáltatásokat nyújtó projekt, amelyet azzal a céllal hoztunk létre, hogy megkönnyítsük ügyfeleink életét a minőségi, gyors és megbízható szakemberközvetítéssel. Számunkra az ügyfél elégedettség nem csak cél, hanem alapérték.</p>
        </div>
        <div>
            <h5>Történetünk</h5>
            <p>A HandyGo 2025-ban indult. A szolgáltatásaink folyamatos fejlődésével és a kvalitás javításával biztosítjuk, hogy minden ügyfelünk elégedett legyen.</p>
        </div>
        <div>
            <h5>Csapatunk</h5>
            <p>Csapatunk, akik nemcsak szakmai tudásukkal, hanem elhivatottságukkal is hozzájárulnak ügyfeleink elégedettségéhez. Minden szakember szigorú minőségellenőrzési folyamaton esik át, így Ön biztos lehet benne, hogy a szolgáltatások megbizhatóak.</p>
        </div>
        <div>
            <h5>Célunk</h5>
            <p>Célunk, hogy megkönnyítsük ügyfeleink mindennapjait egy átlátható, gyors és megbízható szakemberközvetítő platform segítségével, egy olyan szolgáltatás létrehozása, amely nemcsak a szolgáltatások piacán, hanem a szolgáltatás minőségében is példát mutat. Folyamatos fejlődés mellett, hogy mindig megfeleljünk a modern igényeknek.</p>
        </div>
        <div>
            <h5>Partner cégeink</h5>
            <p>Dózsa Csárda</p>
        </div>
    </div>
    <div class="back-button-container">
        <button mat-stroked-button color="primary" [routerLink]="['/']" class="back-to-home-btn">
            Vissza a főoldalra
        </button>
    </div>
</section>
<app-footer></app-footer>
